.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 80px 20px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
    padding: 16px;
    border-radius: 4px;
}
