/* .custom-size div.MuiToolbar-root {
  height: 75px;
}
.custom-size .custom-search-style {
  width: 590px;
  height: 52px;
}
.custom-size .custom-search-style .MuiInputBase-root {
  width: 100%;
  height: 100%;
}
.custom-size .custom-search-style .MuiInputBase-input {
  width: 100%;
  height: 100%;
} */
