.app_topbar {
    width: calc(100% - 239px);
    border-bottom: 1px solid rgba(42, 46, 52, 0.12);
    z-index: 3;
    /* box-shadow: 0px 1px 0px rgba(42, 46, 52, 0.12); */
}
.app_topbar .MuiToolbar-root {
    min-height: 60px;
    height: 60px;
}
.sidebar_collapse{
    min-width: 2.25rem;
    height: 2.45rem;
    border-radius: 2.25rem;
    background-color: rgba(37, 120, 255, 0.1);
    display: flex;
    align-items: center;
    margin-right: 24px;
}
